# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.idea/

# Node
node_modules/
dist/
.npm/
.yarn/
.pnp.*

# Docker
docker-compose.override.yml

# Environment
.env
.env.*
!.env.example

# Other
*.log
.DS_Store
backend/torrents.db
rclone/config/rclone.conf
